body {
    padding-top: 30px;
  	}
  
  	@media (min-width: 992px) {
    	body {
      		padding-top: 93px;
    	}
	 }


.beto {
	padding-top: 10px;
	padding-left: 10px;
}

/*------------------------------------------Header-----------------------------------------------------*/

	.navbar-brand{
		width: 100px;
		float: left;

	}

  	.carousel-item {
    height: 600px;
    min-height: 250px;
    background: no-repeat bottom;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	  }

	  
/*-----------------------------------------------------------------------------------------------------*/


	.portada {
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 30%;
	}

/*-------------------------------------- ICONOS REDES SOCUALES ---------------------------------------- */

	.fa {
		padding: 20px;
		font-size: 25px;
		width: 60px;
		text-align: center;
		text-decoration: none;
		border-radius: 50%;
	}

	/* Facebook */
	.fa-facebook {
		background: #3B5998;
		color: white;
	}

	/* Twitter */
	.fa-twitter {
	background: #55ACEE;
	color: white;
	}

	/* Google */
	.fa-google {
	background: #DD4B39;
	color: white;
	}


	/* Linkedin */
	.fa-linkedin {
	background: #007BB6;
	color: white;
	}

	/* Instagram */
	.fa-instagram {
	background: #3F729B;
	color: white;
	}

/*----------------------------------------------------------------------------------------------------*/

/*-------------------------------------- PRODUCTOS DESTACADOS---------------------------------------- */

	.container {
	font-family: Verdana, sans-serif;
	text-align: center;
	text-decoration-color: rgb(3, 96, 136);
  	}

	.portfolio-item {
    margin-bottom: 30px;
  	}

	.my-4 {
	text-align: center;   
  	}
/*----------------------------------------------------------------------------------------------------*/

/*-------------------------------------- Preguntas Frecuentes ----------------------------------------*/

	.preguntas {
	text-align: center;  
	color: rgb(116, 110, 110);
}
/*----------------------------------------------------------------------------------------------------*/

/*-----------------------------------------Formulario-------------------------------------------------*/

	.btn {
		color: white;
		height: 50px;
		width: 50%;
		float: center;
		border:50%;
		box-shadow: 0 0 1px #ccc;
		-webkit-transition-duration: 2s;
		-webkit-transition-timing-function: linear;
		box-shadow:0px 0 0 #0b85bd  inset;
	}

	.btn:hover {
		box-shadow:400px 0 0 #319aca  inset;
	}

	.login	{
		color: white;
		height: 50px;
		width: 30%;
		float: center;
		border:50%;
		box-shadow: 0 0 1px #ccc;
		-webkit-transition-duration: 2s;
		-webkit-transition-timing-function: linear;
		box-shadow:0px 0 0 #0b85bd  inset;
	}
/*-----------------------------------------------------------------------------------------------------*/

